---
import Link from "./ui/link.astro";
---

<footer class="my-20">
  <a href="/" style="text-decoration: none;">
    <picture>
      <source
        type="image/png"
        srcset="logotipo.png"
      />
      <img
        src="v.png"
        alt="Legales Domínguez"
        loading="eager"
        style="width: 50%; max-width: 200px; border-radius: 15px; margin: 0 auto; transition: transform 0.3s;"
      />
    </picture>
  </a>
  <p class="text-center text-sm text-slate-500">
    © {new Date().getFullYear()} LegalesDW. Todos los derechos reservados.
  </p>
</footer>
