---
import Link from "@components/ui/link.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <div style="text-align: center;">
      <picture>
        <source
          type="image/webp"
          srcset="justice.webp 200w, justice.webp 400w, justice.webp 600w"
        />
        <img
          src="v.webp"
          alt="Astronaut in the air"
          loading="eager"
          style="width: 50%; max-width: 100%; border-radius: 15px; display: block; margin: 0 auto;"
        />
      </picture>
    </div>
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold text-slate-800 lg:tracking-tight xl:tracking-tighter">
      Legales<br>
      <span class="text-4xl lg:text-5xl xl:text-6xl text-slate-500">Domínguez <br>Weingart</span>
    </h1>
    <p class="text-lg mt-6 text-slate-600 max-w-xl">
      Somos un buffet jurídico destinado a prestar asesoramiento legal e integral, acompañando a nuestros clientes en el proceso de solución de conflictos.
    </p>
    <div class="mt-8 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contact"
        class="flex gap-1 items-center justify-center">
        Asesoramiento Profesional
      </Link>
      <Link
        size="lg"
        style="outline"
        href="/services"
        class="flex gap-1 items-center justify-center">
        Más información
      </Link>
    </div>
  </div>
</main>
